<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <script>

        var reverseArray = function(x, idx, str){
            return idx == 0 ? str : reverseArray(x, --idx, (str += ' ' + x[idx]))
        };

        var arr = new Array('apple', 'orange', 'lime');
        var str = reverseArray(arr, arr.length, '');

        console.log(str);

        var arr2 = ['car', 'boat', 'sun'];
        var str = reverseArray(arr2, arr2.length, '');
        console.log(str); 
    </script>
</body>
</html>